.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    background-color: #3a3a90;
    box-shadow: 0 6.67587px 25.869px -1.66897px rgba(73,141,255,.3);
    color: #f2f2f2;
}

.footer {
    box-shadow: 0 6.67587px 25.869px -1.66897px rgba(73,141,255,.3);
    background: rgb(252 252 252 / 70%);
    color: #f2f2f2;
}

.headerContainer, .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 20px;
}

.headerTitleContainer, .footerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    font-size: 20px;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle, .footerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList, .footerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink, .footerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover, .footerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive, .footerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin, .footerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
    margin-left: auto;
}

.contributorList {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Layout.module.css */
.footerLabel {
    font-weight: bold;
    color: #000;
    padding-left: 5px;
}