.examplesNavList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

.example {
    word-break: break-word;
    box-shadow: 0 6.67587px 25.869px -1.66897px rgba(73,141,255,.3);
    background: rgba(255,255,255,0.7);
    border: 2px solid transparent;
    border-radius: 12px;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    opacity: 0.9;
}

.example:hover {
    box-shadow:
        0px 8px 16px rgba(0, 0, 0, 0.14),
        0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
    opacity: 1;
}

.exampleText {
    margin: 0;
    font-size: 1rem;
    color: #222255;
    width: 280px;
}

.exampleTextTitle {
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    font-weight: 400;
}

.exampleIcon {
   width: 2rem;
   height: 2rem;
   margin-right: 0.5rem;
}

@media only screen and (max-height: 780px) {
    .exampleText {
        font-size: 1rem;
    }
}
