.questionInputContainer {
    border-radius: 8px;
    box-shadow: 0 6.67587px 25.869px -1.66897px rgba(73,141,255,.3);
    height: 90px;
    width: 100%;
    padding: 15px;
    background: white;
}

.questionInputTextArea {
    width: 100%;
    line-height: 40px;
    font-size: 16px;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
